body   {background: lightblue;
color: black;
font-size: 16pt;

font-family: 'Oswald', sans-serif;}

nav li{display: inline-block;
border:5px solid black;
background: white;
margin: 20px;
padding: 10px;}

a{color: black;
font-weight: bold;
text-decoration: none;
}

a:hover {color: lightblue;}
